<template>
  <div class="container">
      <div class="row mt-5" v-if="product">
          <div class="col-4"><img class="w-100" :src = "product.image" alt=""></div>
          <div class="col-8">
              <h2>{{ product.name }}</h2>
              <h4>Price: ${{ product.price }}</h4>
              <input type="text" v-model.number="quantity" class="text-center col-1 mr-2 p-1" />
              <button @click="addProductToCart()" class="btn btn-primary">Add to cart</button>
              <p class="mt-4">{{product.description}}</p>
          </div>
      </div>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";

export default {
    props: ["id"],

    data(){
        return {
            quantity: 1
        }
    },

    computed: {
        ...mapState({
            product: state => state.product.product
        })
    },

    methods: {
        ...mapActions({
            addToCart: "cart/addToCart",
            getProduct: "getProduct"
        }),

        addProductToCart(){
            this.addToCart({
                product: this.product,
                quantity: this.quantity
            })
        }
    },

    mounted(){
        this.getProduct(this.id);
    }
}
</script>

<style>

</style>