<template>
  <div class="dropdown-menu p-2" style="min-width: 450px; right: 0; left: auto" aria-labelledby="navbarDropdownMenuLink" @click="$event.stopPropagation()">
		<div>
			<div class="px-1">
				<div class="row" v-for="item in cart" :key="item.product.id">
					<div class="col-9">
						<strong>{{item.product.title}}</strong>
						<br> {{item.quantity}} X ${{item.product.price}}
					</div>
					<div class="col-3">
						<a @click="removeItemFromCart(item.product)" class="badge badge-secondary">Remove</a>
					</div>
				</div><hr>
				<div class="row">
					<div class="col-8"><strong>Total: </strong>${{cartTotalAmount}}</div>
					<div class="col-4"><a @click="clearItemsFromCart()">Clear Cart</a></div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import { mapState, mapGetters, mapActions } from "vuex";

export default {
	computed: {
		...mapGetters("cart", ["cartTotalAmount"]),
		...mapState({
			cart: state => state.cart.cart
		}),
	},

	methods: {
		...mapActions({
			removeItemFromCart: 'cart/removeItemFromCart',
			clearItemsFromCart: 'cart/clearItemsFromCart',
			getCartItems: 'cart/getCartItems'
		})
	},

	mounted(){
		this.getCartItems();
	}
}
</script>

<style>

</style>