<template>
  <div class="notification-list">
      <Notification  v-for="notification in notifications" :key="notification.id" :notification="notification"/>
  </div>
</template>

<script>
import Notification from "./Notification";
import { mapState } from "vuex";

export default {
    components: {Notification},

    computed: mapState(['notifications'])
}
</script>

<style>
    .notification-list{
        position: fixed;
        bottom: 0;
        right: 0;
        margin-right: 15px;
        width: 320px;
    }
</style>