<template>
  
  <div class="card mt-5">
    <img class="p-0" :src = "product.image" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"> 
        <router-link :to="{name: 'Product', params: {id: product.id}}">{{product.title}}</router-link>
      </h5>
      <p class="card-text">{{product.description}}</p>
      <a class="btn btn-primary" @click="addProductToCart">Add to cart</a>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";
export default {
  props: ["product"],

  methods: {
    ...mapActions("cart", ['addToCart']),
    addProductToCart(){
      this.addToCart({
        product: this.product,
        quantity: 1
      })
    }
  }
}
</script>

<style>

</style>