<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-3" v-for="product in products" :key="product.id">
        <Product :product = "product" />
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
import Product from './ProductCard.vue';

export default {
    components: {Product},

    computed: {
      ...mapState({
        products: state => state.product.products
      })
    },

    methods: {
      ...mapActions(['getProducts'])
    },

    mounted(){
      this.getProducts();
    }
}
</script>

<style>

</style>