<template>
  <Header />
  <router-view/>
  <NotificationList />
</template>

<script>
import Header from './components/Header.vue'
import NotificationList from "./components/NotificationList";

export default ({
 name: 'App',
 components: {Header,NotificationList}
})
</script>


<style>

</style>
